@import url('./utility.css');

body {
	background: var(--red);
	width: 100%;
}

#root {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.main_content {
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 86vh;
}

/* Search Bar */
.search_bar--container {
	/* Nav height 64px */
	margin-top: 125px;
	margin-bottom: 35px;
}

@media only screen and (max-width: 599px) {
	.search_bar--container {
		margin-top: 80px;
		margin-bottom: 25px;
	}
}

#search-city {
	color: var(--text-sub);
}

.search_bar--inner {
	margin: 0 auto;
}

.search_bar--inner div {
	border-radius: 30px;
}

/* Card */
.card--container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin: 50px;
}

/* Footer */

.footer {
	background: var(--bg);
	color: var(--white);
}

.footer-title {
	font-size: 12px;
	font-family: var(--fontSerif);
	font-weight: 100;
}

.socialmedia__inner {
	margin: 10px 0;
}
@media only screen and (min-width: 767px) {
	.section__wrapper.social-media {
		max-width: 100%;
	}
}
